<template>
    <div class="slds-card__body slds-card__body_inner slds-p-around--large top-padding-override">
        <div class="slds-m-bottom_xxx-small ">
            <h1 class="heading">Household and Personnel</h1>
        </div>
        <div class="slds-m-bottom_medium">
            <div class="sub-heading">
                4.2 Employment
            </div>
            <div class="dim">
                <!--Please provide current and previous employment information below-->
                <!-- Please indicate your anticipated start date and the position you are being hired for. This date is the
                date that you will begin working with children. Please do not use a start date where you may be
                participating in orientation and not working with children as this could be before your background check
                has been completed, and you may not work with children before you get your background done. -->
                Please review the current employment information listed below.
            </div>
        </div>

        <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_x-small slds-grid_align-spread">
            <div class="slds-col">
                <span class="section-heading">Current employment</span>
            </div>
        </div>
        <template if:true={showCurrentEmployer}>
            <div class="blue-box slds-m-top--large">
                <div>Edit Current employment</div>
                <div>
                    <lightning-button-icon icon-name="utility:close" size="medium" onclick={closeCurrentEmploymentBox}
                        variant="bare">
                    </lightning-button-icon>
                </div>
            </div>
            <div class="remove-margin">
                <div class="slds-p-around--large">
            <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium slds-grid_vertical-align-start">
                <!-- <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
                    <div class="slds-form-element"><label class="slds-form-element__label" for="employerName">
                            Employer
                            Name</label>
                        <div class="slds-form-element__control"><input type="text" data-page="householdEmployment"
                            data-index={ind} data-field="employerName" disabled name="employerName" placeholder=""
                                class="slds-input" onkeyup={handleChange} value={employment.employerName} />
                        </div>
                    </div>
                </div> -->
                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="startDate"> Start
                            date</label>
                        <div class="slds-form-element__control">
                            <lightning-input type="date" data-page="householdEmployment" variant="label-hidden"
                             data-field="startDate" name="startDate" placeholder="" class=""
                                onchange={handleCurrentEmployerChange} value={newCurrentEmployment.startDate}>
                            </lightning-input>
                        </div>
                        <template if:true={formValidity.startDate}>
                            <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                        </template>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12"> 
                    <div class="slds-form-element"><label class="slds-form-element__label" for="position">
                            Position</label>
                        <div class="slds-form-element__control">
                            <!-- <lightning-input type="date" data-page="householdEmployment" variant="label-hidden"
                                data-field="position" disabled name="position" placeholder="" class=""
                                onchange={handleCurrentEmployerChange} value={employment.position}>
                            </lightning-input> -->
                            <div class="slds-select_container">
                                <select class="slds-select" data-page="householdEmployment"
                                onchange={handleCurrentEmployerChange} data-field="position">
                                    <option value="">Please select</option>
                                    <template if:true={positionPicklistValues}>
                                        <template for:each={positionPicklistValues} for:index="index"
                                            for:item="each">
                                            <!-- <option value={each.value} key={each.key} selected={each.selected}>
                                                {each.value}
                                            </option> -->
                                            <option value={each.value} key={each.key} selected={each.selected}>
                                                {each.label}
                                            </option>
                                        </template>
                                    </template>
                                </select>
                            </div>
                        </div>
                        <template if:true={formValidity.position}>
                            <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                        </template>
                    </div>
                </div>
                
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_12-of-12">
                        <button class="slds-button slds-float--right  slds-button_brand"
                            onclick={addToCurrentEmploymentTable}>Save</button>
                    </div>
                
            </div>
            </div>
            </div>
        </template>
        <div if:true={pageData.householdEmployment.currentEmployment.length}>
            <table
                class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-table_fixed-layout slds-table_resizable-cols">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th colspan="2" scope="col" > 
                            <div class="slds-truncate" title="Employer Name">Employer Name</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Start Date">Start Date</div>
                        </th>
                        <th class="2" scope="col">
                            <div class="slds-truncate" title="Position">Position</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Edit"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={pageData.householdEmployment.currentEmployment} for:index="index"
                        for:item="each">
                        <tr class="slds-hint-parent" key={each.employerName}>
                            <td colspan="2" data-label="employerName">
                                <div class="slds-truncate" title={each.employerName}>{each.Employer}</div>
                            </td>
                            <td data-label="startDate">
                                <div class="slds-truncate" title={each.startDate}><lightning-formatted-date-time day="numeric" month="numeric" year="numeric"
                                    value={each.startDate} time-zone="UTC">
                                </lightning-formatted-date-time></div></div>
                            </td>
                            <td data-label="position" colspan="2"> 
                                <!-- <div class="slds-truncate" title={each.position}>{each.position}</div> -->
                                <div class="slds-truncate" title={each.position}>{each.positionLabel}</div>
                            </td>
                            <td data-label="Edit" style="display: flex;">
                                <div class="slds-truncate" title="Edit">
                                    <lightning-button-icon icon-name="utility:edit" size="x-small" data-edit={index}
                                        onclick={editCurrentEmployers}>
                                    </lightning-button-icon>
                                </div>
                                <!-- <div class="slds-truncate" title="Remove" style='margin-left: 0.5rem;'>
                                    <lightning-button-icon icon-name="utility:close" size="x-small" data-remove={index}
                                        onclick={removePreviousEmployers}>
                                    </lightning-button-icon>
                                </div> -->
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <!-- <template for:each={pageData.currentEmploymentList} for:item="employment" for:index="ind">
            <div key={employment.employerId}> -->
            
            <!-- </div>
        </template> -->

        <!-- <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_x-small slds-grid_align-spread">
            <div class="slds-col">
                <span class="section-heading">Current employment</span>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium slds-grid_vertical-align-start">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <div class="slds-form-element"><label class="slds-form-element__label" for="employerName"><abbr
                            class="slds-required" title="required">* </abbr> Employer
                        Name</label>
                    <div class="slds-form-element__control"><input type="text" data-page="householdEmployment"
                            data-field="employerName" data-check="req" disabled name="employerName" placeholder=""
                            class="slds-input" onkeyup={handleChange}
                            value={pageData.householdEmployment.employerName} />
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="startDate"> <abbr
                            class="slds-required" title="required">* </abbr>Start
                        date</label>
                    <div class="slds-form-element__control">
                        <lightning-input type="date" data-page="householdEmployment" variant="label-hidden"
                            data-field="startDate" data-check="req" name="startDate" placeholder="" class=""
                            onchange={handleChange} value={pageData.householdEmployment.startDate}>
                        </lightning-input>
                    </div>
                    <template if:true={formValidity.startDate}>
                        <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                    </template>
                </div>
            </div>
        </div>

        <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium ">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <div class="slds-form-element"><label class="slds-form-element__label" for="position"><abbr
                            class="slds-required" title="required">* </abbr>
                        Position</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" id="position" onchange={handleChange} data-check="req"
                                data-page="householdEmployment" data-field="position">
                                <option value="">Please select</option>
                                <template if:true={positionPicklistValues}>
                                    <template for:each={positionPicklistValues} for:index="index" for:item="each">
                                        <option value={each.value} key={each.key} selected={each.selected}>{each.value}
                                        </option>
                                    </template>
                                </template>
                            </select>
                        </div>
                    </div>
                    <template if:true={formValidity.position}>
                        <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                    </template>
                </div>
            </div>

        </div> -->



        <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_x-small slds-m-top_large slds-grid_align-spread">
            <div class="slds-col">
                <span class="section-heading">Previous Employment</span>
            </div>

        </div>
        <div class="dim">
            Please list all licensed NH child care employment information during the last 6 months ONLY. If you have not
            been employed in a licensed child care
            in NH for over 6 months you MUST leave this section blank.
        </div>
        <div if:true={pageData.householdEmployment.previousEmployment.length}>
            <table
                class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-table_fixed-layout slds-table_resizable-cols">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th colspan="" scope="col" class="tableWidth">
                            <div class="slds-truncate" title="Program Name">Program Name</div>
                        </th>
                        <th colspan="" scope="col" class="tableWidth">
                            <div class="slds-truncate tableWidth" title="City">City</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Start Date">Start Date</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="End Date">End Date</div>
                        </th>
                        <th class="" scope="col">
                            <div class="slds-truncate" title="Edit"></div>
                        </th>
                        <th scope="col" class="tableWidth110">
                            <div class="slds-trun   cate" title="Remove"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={pageData.householdEmployment.previousEmployment} for:index="index"
                        for:item="each">
                        <tr class="slds-hint-parent" key={each.programName}>
                            <td colspan="" data-label="programName">
                                <div class="slds-truncate" title={each.programName}>{each.programName}</div>
                            </td>
                            <td colspan="" data-label="city">
                                <div class="slds-truncate" title={each.city}>{each.city}</div>
                            </td>
                            <td data-label="starDate1">
                                <div class="slds-truncate" title={each.startDate1}>{each.start}</div>
                            </td>
                            <td data-label="endDate">
                                <div class="slds-truncate" title={each.endDate}>{each.end}</div>
                            </td>
                            <td data-label="Edit" style="display: flex;">
                                <div class="slds-truncate" title="Edit">
                                    <lightning-button-icon icon-name="utility:edit" size="x-small" data-edit={index}
                                        onclick={editPreviousEmployers}>
                                    </lightning-button-icon>
                                </div>
                                <div class="slds-truncate" title="Remove" style='margin-left: 0.5rem;'>
                                    <lightning-button-icon icon-name="utility:close" size="x-small" data-remove={index}
                                        onclick={removePreviousEmployers}>
                                    </lightning-button-icon>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

        <template if:true={showNewEmployer}>
            <div class="blue-box slds-m-top--large">
                <div>Add an employer</div>
                <div>
                    <lightning-button-icon icon-name="utility:close" size="medium" onclick={closebluebox}
                        variant="bare">
                    </lightning-button-icon>
                </div>
            </div>
            <div class="remove-margin">
                <div class="slds-p-around--large"> 

                    <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium ">
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <!--<div class="slds-form-element"><label class="slds-form-element__label" for="programName">
                                    <abbr class="slds-required" title="required">* </abbr> Program
                                    name</label>
                                <div class="slds-form-element__control"><input type="text" data-field="programName"
                                        data-check="req" name="programName" placeholder="" class="slds-input"
                                        onkeyup={handleNewEmployerChange} value={newEmployment.programName} />
                                </div>
                                <template if:true={formValidity.programName}>
                                    <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                                </template>
                            </div>-->
                            <c-custom-lookup iconname="standard:case" lookup-name="Program name" object-name="Account"
                                searchfield="Name" selectedaccounttoedit={currentSelectedEmploymentToEdit}
                                onremoveselectedrec={handleAccountRemove} onselectedrec={handleAccountSelection}>
                            </c-custom-lookup>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <div class="slds-form-element"><label class="slds-form-element__label" for="city">
                                    City/Town</label>
                                <div class="slds-form-element__control"><input type="text" data-field="city"
                                        onkeyup={handleNewEmployerChange} name="city" placeholder="" class="slds-input"
                                        value={newEmployment.city} />
                                </div>
                                <template if:true={formValidity.city}>
                                    <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                                </template>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium slds-grid_vertical-align-start">
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <div class="slds-form-element"><label class="slds-form-element__label" for="street"> <abbr
                                        class="slds-required" title="required">* </abbr>Start
                                    date</label>
                                <div class="slds-form-element__control">
                                    <!--<input type="date" data-field="startDate1"
                                        data-check="req" name="startDate1" placeholder="" class="slds-input"
                                        onchange={handleNewEmployerChange} max={maxDate}
                                        value={newEmployment.startDate1} />-->
                                    <lightning-input type="date" data-field="startDate1" variant="label-hidden"
                                        data-check="req" name="startDate1" placeholder="" class=""
                                        onchange={handleNewEmployerChange} max={maxDate}
                                        value={newEmployment.startDate1}></lightning-input>
                                </div>
                                <template if:true={formValidity.startDate1}>
                                    <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                                </template>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <div class="slds-form-element"><label class="slds-form-element__label" for="endDate"> <abbr
                                        class="slds-required" title="required">* </abbr> End
                                    date</label>
                                <div class="slds-form-element__control">
                                    <lightning-input type="date" data-field="endDate" variant="label-hidden"
                                        data-check="req" name="endDate" placeholder="" class=""
                                        onchange={handleNewEmployerChange} max={maxDate} min={minDate}
                                        value={newEmployment.endDate}></lightning-input>
                                </div>
                                <template if:true={formValidity.endDate}>
                                    <div class="slds-form-element__help set-error-color">Missing or Invalid value.</div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_medium ">
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_12-of-12 slds-large-size_12-of-12">
                            <button class="slds-button slds-float--right  slds-button_brand"
                                onclick={addToTable}>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div class="slds-grid slds-wrap slds-gutters slds-m-top_small slds-m-bottom_x-small slds-grid_align-spread">
            <div class="slds-col">
                <button class="slds-button slds-float--none slds-button_outline-brand"
                    onclick={createNewEmployer}><span><strong>Add an
                            Employer</strong></span></button>
            </div>
        </div>
    </div>
</template>